body {
	margin: 0;
	padding: 0;
	height: 100vh;
	 background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
	  text-align: center;
}


.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }
.nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;

}
.navbar-brand img {
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li {
	padding: 0 10px;
}
.navbar-nav li a {
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover{
	color: green!important;
}
.navbar {
	background: fff;
}
.navbar-toggler {
	border: none!important;
}
.nav-link {
	color: white!important;
	font-weight: 600;
	font-size: 16px;
}
#slider {
	width: 100%;
}
.carousel-caption {
	top: 90%;
	transform: translateY(-50%);
	bottom: initial!important;	
}
.carousel-caption h5 {
	color: #fff;
	font-size: 42px;
}
.h1 {
	text-align: center;
	color: #fff;
	font-size: 40px;
    line-height: 3rem;
    margin-bottom: 40px;
	
}
.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.footer1 {
	text-align: center;   
	margin: 0 auto; 
	position: relative; 
	max-width: 600px;
	display: block;
}

.footer1 a h2 {
	display: block;
	font-size: 2.5em;
	margin-block-start: 0.83em; 
	margin-block-end: 0.83em; 
	margin-inline-start: 0px; margin-inline-end: 0px;
	font-weight: bold;
	margin-top: 50px;
}
.footer1 p {
	text-align: center;
}













.footer1 h2 {
	font-size: 36px;
	text-align: center;
	margin: 0 0 10px;
	padding-top: 60px;
	
}

.divider {
	width: 150px;
	height: 2px;
	background: #000;
	margin: 0 auto 50px;
}
.a2 {
	position: relative;
	overflow: hidden;

}
.a2 img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	transition: all 0.3s ease-out;
}
.a2 a:hover img {
	transform: scale(1.1,1.1);
}
.a2 .caption {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		text-align: center;
		background: rgba(0,0,0,0.3);
		transition: all 0.3s ease-out;
}
.a2 a:hover .caption {
	background: rgba(0,0,0,0.5);
}
.a2 h3 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 200px;
	transition: all 0.3s ease-out;
}
.a2 a:hover h3 {
	margin-top: 30px;
	
}
.a2 p {
	color: #fff;
	font-size: 14px;
	transition: all 0.3s ease-out;
	opacity: 0;
	
}
.a2 a:hover p {
	opacity: 1;
}








.foot {
	position: relative ; 
	background: #212121;
	height: 100px;
	padding-top: 30px;
	margin-top: 70px;

}
.container footer {
	height: auto; 
	bottom:-60px;
	left:0;right: 0;
	margin-bottom: 9px; 
	text-align: center; 
	background: #212121; 
	padding-top: 20px;
}
.container footer table {
	display: inline-block;
}
.footer go {
	padding-bottom: 40px;
}
.footer go a {
	color: #fff;
	padding-bottom: 40px;
}


.share1 btn btn-primary{
	margin-top: 50px;
	background-color: #A9A9A9; 
	border-color: #A9A9A9
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}













